.BandCont{
    background-color: rgb(30, 48, 99);
    background-color: #02003d;
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url("/assets/green-dust-and-scratches.png");
}

.smallCircleCont{
    position: fixed;
    width: 900px;
    height: 900px;
    right: -26%;
    top: -14%;
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.5s;
    background-color: #18264E;
    background-color: #020129;
    opacity: 1;
   /*  background-image: url("/assets/green-dust-and-scratches.png"); */
    background-color: #0e0e0e;
}

.BigCicle{
  

    position: fixed;
    width: 1300px;
    height: 1300px;
    /* right: -10%; */
    top: -42%;
    border-radius: 50%;
    border: none;
    background: transparent;
    left: 7%;
    top: 26%;
    transition: 0.2s;
    transform-origin: center center;
    left: 34%;
    top: -44%;
 
}

.BigCicle img{
    opacity: 0.5;
    transition: 0.3s;
}
.BigCicle .active{
    opacity: 1 !important;
    box-shadow: -5px -5px 30px -12px white, 5px 5px 30px 15px #142850;
}
#smallcircle{
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.BigStaticCircle{

    position: fixed;
    width: 1300px;
    height: 1300px;
    right: -10%;
    top: -42%;
    border-radius: 50%;
    border: none;
    transform: s;
    background-color: #18264E;
    background-color: #020129;
    left: 71px;
    top: 22%;
    left: 7%;
    top: -37%;
 /*    background-image: url("/assets/green-dust-and-scratches.png"); */
    background-color: #0e0e0e;
}




.bimg{
    width: 44% !important;
    height: 20% !important;
    cursor: pointer;
    border-radius: 24px;
}
.BandImg {
    width: 34%;
    height: 17%;
    left: -9%;
    top: 41%;
    position: relative;
    transform: translate3d(-33%, -10%, 10px);
}
.BandImgI {
    width: 34%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    top: 41%;
    transform: rotate(180deg) translate3d(-60%, -2%, 10px);
    right: -9%;
    position: relative;
}
.BandImgII {
    width: 34%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: 50%;
    left: 17%;
    transform: rotate(270deg) translate3d(-48%, 49%, 10px);
}

.BandImgIII {
    width: 34%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: -2%;
    left: -17%;
    transform: rotate(90deg) translate3d(-66%, -15%, 10px);
}

.BandImgIV {
    width: 34%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: 19%;
    left: 29%;
    transform: rotate(225deg) translate3d(-84%, 58%, 10px);
}

.BandImgV {
    width: 34%;
    height: 17%;
    position: relative;
    top: 27%;
    left: -37%;
    transform: rotate(315deg) translate3d(-39%, -25%, 10px);
}

.BandImgVI {
    width: 34%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: -6%;
    left: -30%;
    transform: rotate(45deg) translate3d(-45%, -263%, 10px);
}
.BandImgVII {
    width: 35%;
    height: 17%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: -29%;
    left: 18%;
    transform: rotate(135deg) translate3d(-47%, 77%, 0);
}


.AlbumCicle{
    width: 800px;
    height: 800PX;
    border-radius: 50%;
    background: beige;
    position: relative;
    top: 6%;
    right: -10%;
   
    background-color: black;
    background-image: url("/assets/green-dust-and-scratches.png");
}

.AlbumTxt {
    position: absolute;
    margin-left: 21%;
    margin-top: 21%;
}
.AlbumTxt p{
    color: white;
    font-family: 'Audiowide', cursive;
}

.AlTxt{
    font-size: 40px;
    margin-top: -10%;
}
.TopSongTxt{
    margin-left: 0%;
    margin-top: -5%;
}
.BandName{
    font-family: 'Audiowide', cursive;
    font-size: 66px;
    margin-top: 10%;
    margin-left: -32%;
    color: white;
}

.BandTracks{
    position: absolute;
    margin-top: 42%;
    line-height: 4;
    margin-left: 11%;
    height: 30%;
    overflow-y: scroll;
    width: 41%;
    z-index: 8;
}

.TracksList{
    list-style: none;
    color: white;
}
.TracksList li{
opacity: 0.5;
font-family: 'Audiowide', cursive;
}

.TracksList  .active{
    opacity: 1 !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #094883;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #142850;
    border-radius: 10px;
  }

  .PlayCont{
    position: fixed;
    top: 46%;
    width: 26%;
  }
  .PlayBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4a505c7c;
    border: none;
    position: relative;
    right: -23%;
    top: 7%;
  }
  .PlayBtn i{
    color: white;
    margin-top: -17%;
    left: 40%;
    position: absolute;
  }
  .PlayHRLine{
    border: 1.2px solid white;
    background-color: white;
    width: 66%;
    margin-left: -57%;
    margin-top: 19%;
  }
  .OpenTrans{
    
    position: fixed;
    width: 125%;
    height: 193%;
    background-color: white;
    border: none;
    z-index: 11;
    bottom: -55%;
    right: -6%;
    transition: 0.8s ease-out;
    border-radius: 50%;
    opacity: 1;
  }

  .ActiveTrack{
    z-index: 12;
    position: fixed;
    width: 76% !important;
    height: 112% !important;
    top: 0;
    left: 0;
  }

  .CurrentTrack{
    position: fixed;
    z-index: 20;
    right: 6%;
    top: 28%;
    transition: 0.8s;
    opacity: 0;
  }

 .TrackSection{
    position: fixed;
    height: 204px;
    width: 49%;
    bottom: 0%;
    left: 51%;
    opacity: 0.7;
    background-color: #020129;
    background-image: url("/assets/green-dust-and-scratches.png");
 }

.CDImg{
    width: 19%;
    margin-top: -9%;
    margin-left: 6%;
}
audio{
    position: fixed;
    bottom: 4%;
    left: 69%;
}

.TrackBand{
    text-align: center;
    font-size: 48px;
    top: 13%;
    color: white;
    position: relative;
    font-family: 'Audiowide', cursive;
}
.TrackName{
    font-size: 28px;
    margin-top: 33%;
    position: relative;
    color: white;
    text-align: center;
    top: -13%;
    font-family: 'Audiowide', cursive;
}

.trackDes{
    font-size: 28px;
    margin-top: -9%;
    position: unset;
    color: white;
    text-align: center;
    top: -3%;
}

/* ------------------ */
::ng-deep mat-card{
    margin-top: 36%;
    width: 45%;
    margin-left: 53%;
}
::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px;
    display: none !important;
}
::ng-deep .mat-expansion-panel{
    display: none !important;
}

::ng-deep mat-advanced-audio-player{
  /*   display: none; */
}
::ng-deep .mat-elevation-z1 {
    height: 7% !important;
    top: 15% !important;
}

::ng-deep .mat-card {
    position: fixed !important;
    bottom: 12% !important;
    right: 2% !important;

}

.Band{
    transition: .4s;
    z-index: 2;
    position: absolute;
}
.PlayedTrack{
    background-color: black;
  /*   background-image: url("/assets/green-dust-and-scratches.png") !important; */
    height: 100%;
    width: 100%;
    position: fixed;
    transition: .8s;
    
    opacity: 1;
    z-index: 0;
    background-color: #0e0e0e;
}

.ImgExp{
    width: 43% !important;
    height: 40% !important;
    position: fixed;
    top: 33%;
    left: 11%;
    border-radius: 24px;
    transition: 0.8s;
   /*  box-shadow: -5px -5px 59px 6px darkmagenta, 5px 5px 30px 5px darkturquoise; */
}
.CloseBtn{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(77, 73, 73, 0.623);
    border: none;
    position: fixed;
    top: 8%;
    left: 3%;
    z-index: 1;
    box-shadow: -5px -5px 59px 6px darkmagenta, 5px 5px 30px 5px darkturquoise;
}
.CloseBtn i{
    font-size: 30px;
    color: lightskyblue;
}
.CloseBtn:hover i{
    font-size: 35px;
}
.SlideCont{
    position: fixed;
    bottom: 10%;
    right: 16%;
    
}
.SlideBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}
.SlideBtn i{
    font-size: 49px;
    margin-left: -12%;
    margin-top: -6%;
}
/* ---------- */
.BigCicle {
    position: fixed;
    width: 1300px;
    height: 1300px;
    top: -42%;
    border-radius: 50%;
    border: none;
    background: transparent;
    left: 7%;
    top: 26%;
    transition: 0.2s;
    transform-origin: center center;
    left: 38%;
    top: -43%;
}

.bimg {
    width: 41% !important;
    height: 23% !important;
    cursor: pointer;
}
.BandImg {
   
    transform: translate3d(-41%, -13%, 10px);
}
.BandImgI {
    transform: rotate(180deg) translate3d(-85%, 8%, 10px);
}
.BandImgII {
    transform: rotate(270deg) translate3d(-51%, 52%, 10px);
}
.BandImgIII {
    transform: rotate(90deg) translate3d(-92%, -26%, 10px);
}

.BandImgIV {
    transform: rotate(225deg) translate3d(-90%, 81%, 10px);
}
.BandImgV {
    transform: rotate(315deg) translate3d(-31%, -30%, 10px);
}
.BandImgV {
    transform: rotate(315deg) translate3d(-31%, -32%, 10px);
}
.BandImgVI {
    transform: rotate(45deg) translate3d(-75%, -261%, 10px);
}
.BandImgVII {
    transform: rotate(135deg) translate3d(-87%, 93%, 0);
}


.bcLineI{
    position: absolute;
    bottom: 24px;
    width: 51%;
  }
  .bcLineII{
    position: absolute;
    width: 51%;
    top: 74%;
  }
  .overlay{
    /* width: 100%;
    height: 100%;
    background-color: rgba(24, 38, 78, 0.1);
    background-image: url("/assets/green-dust-and-scratches.png");
  position: fixed;
  
  top: 0; */

}

/* //////////////// */

/* * {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow: hidden;
}

body {
    background: #222222;
} */

.trackContainer {
    border-radius: 50%;
    position: fixed;
    top: 51%;
    left: 76%;
    transform: translate(-50%, -50%);
}

.trackContainer .block-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.trackContainer .block-container .block {
    position: relative;
    width: 500px;
    height: 500px;
    background: black;
    background: linear-gradient(0deg, #000, #262626);
        border-radius: 50%;
}

.trackContainer .block-container .block::before, .trackContainer .block-container .block::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animated-shadow 10s linear infinite alternate;
    border-radius: 50%;
}

.trackContainer .block-container .block::after {
    filter: blur(30px);
}

@keyframes animated-shadow {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    to {
        background-position: 0 0;
    }
}

.ContPlay{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 55%;
    left: 35%;
    border-radius: 50%;
    border: none;
    background-color: white;
}
.ContPlay i{
    font-size: 47px;
    color: #262626;
}
input[type="range"] {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5px;
    vertical-align: middle;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #232323;
    outline: none;
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
  }
  #seek {
    display: block;
    width: 90%;
  }

  #seekbar{
    margin-top: 1%;
    margin-left: 5%;
    width: 101%;
    position: fixed;
  }
  .volMin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 31px;
    position: fixed;
    top: 71%;
    right: 71%;
  }
  .volPl{
    right: 20% !important;
  }

  @-webkit-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @-moz-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @-o-keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }