<section class="Band">
 
    <!-- ,  ActiveTrack: currentTrackString == '1'  -->
       <div class="BandCont">
           <div class="BigStaticCircle" >
                  <div class="BigCicle" id="smallcircle" >
                      
                    <img 
                    src="assets/one.jpg" 
                    class="BandImg bimg"
                    id="imgOne"
                    (click)="OPenImgTrack()"
                    [ngClass]="{ active: currentTrackString == '1' }"
                  
                    >
                    <img 
                    (click)="OPenImgTrack()"
                    src="assets/five.jpg"
                     class=" BandImgI bimg"
                     [ngClass]="{ active: currentTrackString == '5' }"
                     >
                    <img
                    (click)="OPenImgTrack()"
                     src="assets/three.jpg"
                      class=" BandImgII bimg"
                      [ngClass]="{ active: currentTrackString == '3' }"
                      >
                    <img
                    (click)="OPenImgTrack()"
                     src="assets/seven.jpg" 
                     class="  BandImgIII bimg"
                     [ngClass]="{ active: currentTrackString == '7' }"
                     >
                    <img 
                    (click)="OPenImgTrack()"
                    src="assets/four.jpg"
                     class="  BandImgIV bimg"
                     [ngClass]="{ active: currentTrackString == '4' }"
                     >
                    <img
                    (click)="OPenImgTrack()"
                    id="imgtwo"
                     src="assets/two.jpg" 
                     class="  BandImgV bimg"
                     [ngClass]="{ active: currentTrackString == '2'  }"
                     >
                    <img 
                    (click)="OPenImgTrack()"
                    src="assets/eight.jpg" 
                    class="  BandImgVI bimg " 
                    [ngClass]="{ active: currentTrackString == '8' }"
                    >
                    <img
                    (click)="OPenImgTrack()"
                     src="assets/six.jpg"
                      class="  BandImgVII bimg"
                      [ngClass]="{ active: currentTrackString == '6' }"
                      >
                     
                
            
                </div>
           </div>
      
           
    <div class="smallCircleCont">
        <div class="AlbumCicle">

            <div class="AlbumTxt">
               <p class="AlTxt">album</p>
               <p class="TopSongTxt">Top 8 Songs</p>
               <h2 class="BandName">{{musicArtist}}</h2> 
            </div>
            
            <div class="BandTracks" id="BandTracksID">
                <ul class="TracksList"  >
                    <li 
                     (click)="GoToTrack(1)"
                     [ngClass]="{ active: currentTrackString == '1' }"
                      > 
                      {{msaapPlaylist[0].title}}</li>

                    <li
                    class="listTemTwo"
                     (click)="GoToTrack(2)"
                     [ngClass]="{ active: currentTrackString == '2' }"
                     > {{msaapPlaylist[1].title}}</li>
                    <li 
                    (click)="GoToTrack(3)"
                    [ngClass]="{ active: currentTrackString == '3' }"
                    > {{msaapPlaylist[2].title}}</li>
                    <li
                     (click)="GoToTrack(4)"
                     [ngClass]="{ active: currentTrackString == '4' }"
                     > {{msaapPlaylist[3].title}}</li>
                    <li
                     (click)="GoToTrack(5)"
                     [ngClass]="{ active: currentTrackString == '5' }"
                     > {{msaapPlaylist[4].title}}</li>
                    <li
                     (click)="GoToTrack(6)"
                     [ngClass]="{ active: currentTrackString == '6' }"
                     >{{msaapPlaylist[5].title}}</li>
                    <li
                     (click)="GoToTrack(7)"
                     [ngClass]="{ active: currentTrackString == '7' }"
                     > {{msaapPlaylist[6].title}}</li>
                    <li 
                    (click)="GoToTrack(8)"
                    [ngClass]="{ active: currentTrackString == '8' }"
                    > {{msaapPlaylist[7].title}}</li>
                </ul>

                
                <div id="OpenTrans" class="OpenTrans"></div>
               <!--  <div class="row SlideCont">
                    <button  class="SlideBtn" (click)="SlDown()" > <i id="button1" class="fa fa-arrow-circle-down"></i> </button>
                    <button  class="SlideBtn" (click)="SlUp()" > <i id="button2" class="fa fa-arrow-circle-up"></i> </button>
                </div> -->
                <!-- <div class="PlayCont row">
                    <div class="col-md-6">
                        <hr class="PlayHRLine ">
                    </div>

                    <div class="col-md-6">
                        <button class=" PlayBtn ">
                             <i class="fa fa-play"></i>  
                         
                             </button>
                    </div>
                    
                  
                </div> -->
            </div>

        </div>
     </div>

     

    
    </div>
    
</section>


<section class="PlayedTrack">
    <button class="CloseBtn" (click)="CloseTrack()"> <i class="fa fa-times"></i> </button>
  
    <img   
    id="PlayedImg"
     src={{Images[currentTrackID-1]}} 
    class="ImgExp" alt="">
  
   
    <div class="overlay">
        <img src="assets/Path 22.png" class="bcLineI">
        <img src="assets/Path 23.png" class="bcLineII">
      
     </div>

    <div class="CurrentTrack" >
        

        <div class="trackContainer">
            <div class="block-container">
            <div class="block">
                <h1 class="TrackBand">{{musicArtist}}</h1>
                 <h1 class="TrackName"> {{msaapPlaylist[currentTrackID-1].title}}</h1> 
                 <h1 class="trackDes"> {{msaapPlaylist[currentTrackID-1].des}}</h1> 
                 <button class="ContPlay" (click)="PlayClick()"> 
                    <i class="fa fa-play" *ngIf="!played"></i>  
                    <i class="fa fa-pause" *ngIf="played"></i>  
                 </button>
                 <button class="volMin" (click)="SoundM()" > <i class="fa fa-volume-down"></i></button>
                 <button class="volMin volPl" (click)="SoundP()" > <i class="fa fa-volume-up"></i> </button>
                  <div id="seekbar">
                    <input type="range"  id="seek" value="0" max="">
                  </div> 
                 
                    
            </div>
              </div>
            </div>
 
            
         <audio style="display: none;" src="" controls   id="audioPlayer"  >
               Sorry, your browser doesn't support html5!
           </audio>
     </div>
     
</section>