<section class="about">
    <div class="BackCont">
     <div class="overlay"></div>
       
        
        <div class="AboutCont">
            <h1 id="Abouttitle" class="Abouttitle">About</h1>
          <p id="AboutTxt" class="AboutTxt">
            “Music… will help dissolve your perplexities and
             purify your character and sensibilities, 
             and in time of care and sorrow, 
             will keep a fountain of joy alive in you.”
              ― Dietrich Bonhoeffer
          </p>
        </div>

        <div class="SocialLinks row" >
          
            <a href="{{LinkedUrl}}"><i class="fa fa-soundcloud px-3"> </i> </a>
            <a href="{{LinkedUrl}}"> <i class="fa fa-spotify px-3"></i> </a>
            <a href="{{LinkedUrl}}"> <i class="fa fa-youtube px-3"></i> </a>
            <a href="{{LinkedUrl}}"> <i class="fa fa-instagram px-3"></i> </a>
            <a href="{{LinkedUrl}}">   <i class="fa fa-facebook-square px-3"></i></a>
            <a href="{{LinkedUrl}}">   <i class="fa fa-twitter-square px-3"></i></a>
           
           
           
          
          

         </div>
    </div>
</section>