<section class="about">
    <div class="BackCont">
     <div class="overlay"></div>
       
        
       
        <div id="AboutSek" class="AboutSek"></div>
        <div id="ContactForm" class="ContactForm col-md-5">
            <h1 class="ContactHead">Contact Us</h1>
            <form class="FormCont">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Name</label>
                  <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Write Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write Message" rows="3"></textarea>
                  </div>
                <button type="submit" class="btn SendBtn">Send </button>
              </form>
        </div>
        <!-- <div class="SocialLinks row">
            <i class="fa fa-soundcloud px-3"></i>
            <i class="fa fa-spotify px-3"></i>
            <i class="fa fa-youtube px-3"></i>
            <i class="fa fa-instagram px-3"></i>
            <i class="fa fa-facebook-square px-3"></i>
            <i class="fa fa-twitter-square px-3"></i>

         </div> -->
    </div>
</section>