<section class="home" id="home">
 <owl-carousel
 [options]="customOptions"
 [carouselClasses]="['owl-theme', 'sliding']"
 >
<div class="HomePage" *ngFor="let imgSl of imgs; let id = index">  

    <img  id="imgID"
    src={{imgSl.imgPath}} 
   
    class="imgHome">
   
    
     <div class="overlay">
        <img src="assets/Path 22.png" class="bcLineI">
        <img src="assets/Path 23.png" class="bcLineII">
      
     </div>
   
     <div class="txtCont row">
          <div class="col-md-8">
        <p class="BandName"> {{imgSl.Title}}</p> 
        <p class="TitleDes"> {{imgSl.des}}</p>
           
     </div>
     <div class="col-md-4">
         <p class="playlist">playlist</p>
         <p class="top">Top Songs</p>
         <button class="listenBtn" (click)="GoToBand(id)"> Listen Now  <i class="fa fa-play"></i></button>

         
      <div class="row numbersCont">
         <p [ngClass]="{ active: id+1 == '1' }" > 0{{1}} </p>
         <p [ngClass]="{ active: id+1 == '2' }"> 0{{2}} </p>
         <p [ngClass]="{ active: id+1 == '3' }"> 0{{3}} </p>
      </div>
         
     </div>
     </div>

     <div class="SocialLinks row">
      <a href="{{LinkedUrl}}"> <i class="fa fa-soundcloud px-3"></i></a>
      <a href="{{LinkedUrl}}"><i class="fa fa-spotify px-3"></i></a>
      <a href="{{LinkedUrl}}">  <i class="fa fa-youtube px-3"></i></a>
      <a href="{{LinkedUrl}}"> <i class="fa fa-instagram px-3"></i></a>
      <a href="{{LinkedUrl}}"> <i class="fa fa-facebook-square px-3"></i></a>
      <a href="{{LinkedUrl}}"> <i class="fa fa-twitter-square px-3"></i></a>
        
        
      
       
       
       


        
     </div>
    
 </div>
</owl-carousel>
 
<div class="CloseTrans" id="closTrns">

</div>
</section>

<!-- <div class="LoadPage" id="splash" *ngIf="firstintro">
   <div class=" splash_screen">
     
       <p> Explore  <i class="fa fa-play-circle"></i></p>
        <div class="loader">
          <div class="bar"></div>
       </div> 
       <div class="w3-light-grey">
          <div class="w3-grey" style="height:24px;width:75%"></div>
        </div>
   </div>
  
</div>  -->


<!--  <video   autoplay oncanplay="this.muted=true"  ended="myFunction()" id="myVideo" preload  *ngIf="firstintro" >
  <source   src="assets/Intro.mov" >  
   
 </video> -->

  